body {
  font-family: Segoe UI, sans-serif;
  margin: 0;
  background-image: url("https://hotimg.com/bg1.jpeg.4Xk3X5");
  background-size: cover;
  color: #333;
}

/* AUTH */
#authPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-box {
  background: rgba(255,255,255,0.75);
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  text-align: center;
}

.auth-box input, .auth-box textarea, button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  font-size: 18px;
}

button { background-color: brown; color: white; border: none; cursor: pointer; }
button:hover { opacity: 0.8; }

.hidden { display: none; }

/* HOME PAGE */
.navbar { background: brown; color: white; padding: 10px 20px; display: flex; justify-content: space-between; }
.container { display: flex; gap: 15px; padding: 20px; }

.sidebar { width: 25%; background: rgba(255,255,255,0.75); padding: 12px; border-radius: 8px; }
.avatar { width: 80px; height: 80px; border-radius: 50%; object-fit: cover; margin-bottom: 6px; }

.feed-area { width: 50%; }
.create-post, .post, .story { background: rgba(255,255,255,0.75); padding: 12px; border-radius: 8px; margin-bottom: 12px; }

.stories { display: flex; gap: 8px; overflow-x: auto; margin-bottom: 15px; }
.story { min-width: 80px; height: 100px; background: #ddd; border-radius: 8px; display: flex; align-items: center; justify-content: center; flex-shrink: 0; }

.chat-sidebar { width: 25%; background: rgba(255,255,255,0.75); padding: 12px; border-radius: 8px; }
.chat-box { height: 200px; overflow:auto; border:1px solid #eee; border-radius:6px; padding:8px; background:#fafafa; margin-bottom:8px; }
