body{
  margin:0;
  font-family:Segoe UI;
  color:#fff;
  background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
  url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f");
  background-size:cover;
}

/* BOXES */
.auth-box,.sidebar,.post,.chat-sidebar{
  background:white;
  color:black;
  border-radius:10px;
  padding:10px;
}

/* NAV */
.navbar{
  background:#d2b48c;
  padding:10px;
  display:flex;
  justify-content:space-between;
}

/* LAYOUT */
.container{
  display:flex;
  gap:10px;
  padding:10px;
}

.sidebar{width:25%;}
.feed-area{width:50%;}
.chat-sidebar{width:25%;display:flex;flex-direction:column;}

/* POSTS */
.post{
  margin:10px 0;
  font-size:18px;
}

/* STORIES */
#stories img{
  width:80px;
  margin:5px;
  border-radius:8px;
}

/* CHAT */
.chat-box{
  height:200px;
  overflow:auto;
  background:#eee;
  margin-bottom:5px;
  padding:5px;
}
.chat-input{
  display:flex;
}
.chat-input input{
  flex:1;
}

/* AVATAR */
.avatar{
  width:70px;
  height:70px;
  border-radius:50%;
}
